@import "variable";
@import "base";
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Bootstrap Grid System ////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Box component ////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.box {
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
  position: relative;
}

.box__top,
.box__middle,
.box__bottom {
  width: 100%;
  display: table-row;
}

.box__top--larger,
.box__middle--larger,
.box__bottom--larger {
  height: 100%;
}

.box__content {
  padding-right: 3%;
  padding-left: 3%;
  width: 100%;
  vertical-align: middle;
  display: table-cell;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Navbar component /////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@keyframes showing {
  0% {
    opacity: 0
  }
  50% {
    padding: 5rem 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hiding {
  0% {
    opacity: 1
  }
  50% {
    padding: 5rem 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}

.navbar {
  padding: 1rem 3rem 0 3rem;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  position: fixed;
  z-index: 9999;

  [menu] & {
    box-shadow: 0 0 1100px 1100px rgba(black, .5);
    background: white;
  }

  &__left,
  &__right {
    padding: 0;
    list-style-type: none;
  }

  &__collapse {
    width: 100%;
    display: none;

    [menu] & { // Verificar compatibilidade de seletor ...
      display: block;
    }

    .menu {
      margin: 0;
      padding: 2rem 0;
      list-style-type: none;

      [menu] & {
        animation: showing 500ms ease-in-out;
      }

      [menu-hiding] & {
        animation: hiding 500ms ease-in-out;
      }

      &__item {
        margin: 3rem 0;
        text-align: right;

        &:last-of-type {
          margin-top: 5%;
          text-align: left;
        }

        [menu] & {
          animation: slide-in-top 200ms ease-in-out 0ms 1 normal both;
          @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
              animation-delay: #{100 * $i}ms;
            }
          }
        }

        [menu-hiding] & {
          animation: slide-out-top 500ms ease-in-out 0ms 1 normal both;
        }

        &__action {
          font-size: 2rem;
          letter-spacing: 5px;
          color: lighten(black, 35%);
          display: inline-block;
          @media (min-width: map_get($breakpoints, 'lg')) {
            & {
              font-size: 2.5rem;
            }
          }

          &:hover {
            color: black;
          }

          &__more {
            display: none;

            @media (min-width: map_get($breakpoints, 'md')) and (max-width: map_get($breakpoints, 'lg') - 1) {
              & {
                font-size: 1.1rem;
                display: inline-block;
              }
            }

            @media (min-width: map_get($breakpoints, 'lg')) {
              & {
                font-size: 1.8rem;
                display: inline-block;
              }
            }
          }
        }
      }

      &__baseline {
        font-weight: bold;
      }
    }
  }

  &__right {
    &__hamburger {
      width: 40px;
      height: 15px;
      position: relative;
      cursor: pointer;
      transition: all 200ms ease-in-out;

      &:before,
      &:after {
        height: 4px;
        background: lighten(black, 10%);
        content: '';
        position: absolute;
        transition: all 200ms ease-in-out;
      }

      &:before {
        top: 0;
        left: 0;
        width: 100%;
      }

      &:after {
        right: 0;
        bottom: 0;
        width: 60%;
      }

      &:hover {
        &:before,
        &:after {
          background: black;
        }

        &:before {
          width: 60%;
        }

        &:after {
          width: 100%;
        }
      }

      [menu] & {
        &:before,
        &:after {
          top: 50%;
          margin-top: -2px;
          width: 100%;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

// HELPERS, BEM PATTERN

.align-items--center {
  align-items: center;
}

.align-items--flex-end {
  align-items: flex-end;
}

.justify-content--space-between {
  justify-content: space-between;
}
