@import "variable";
@import "base";
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Bootstrap Grid System ////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Box component ////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.box {
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
  position: relative;
}

.box__top,
.box__middle,
.box__bottom {
  width: 100%;
  display: table-row;
}

.box__top--larger,
.box__middle--larger,
.box__bottom--larger {
  height: 100%;
}

.box__content {
  padding-right: 3%;
  padding-left: 3%;
  width: 100%;
  vertical-align: middle;
  display: table-cell;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Navbar component /////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.navbar {
  &__left,
  &__right {
    padding: 0;
    list-style-type: none;
  }

  &__left {
  }

  &__right {

  }
}
