@import "../common";

body {
  background: url("../../../svg/shapes-bg-a85e9f36ac.svg");
  background-size: 100%;

  &:before,
  &:after {
    left: 0;
    width: 100%;
    background: $primary;
    content: '';
    position: fixed;
    z-index: 99999;
  }

  &:before {
    top: 0;
    width: 100%;
    height: 5px;

  }

  &:after {
    bottom: 0;
    height: 2px;
  }
}

.box {
  .box__middle,
  .box__bottom {
    .box__content {
      vertical-align: bottom;
    }
  }
}

.title {
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  font-size: 2rem;
  position: relative;
  @media (min-width: map_get($breakpoints, 'md')) {
    font-size: 4rem;
  }

  .subtitle {
    font-weight: 300;
    letter-spacing: 3px;
    color: lighten(black, 50%);
    display: block;
    @media (min-width: map_get($breakpoints, 'md')) {

    }
  }
}

.curriculum {
  &__illustration {
    display: none;
    @media (min-width: map_get($breakpoints, 'lg')) {
      display: block;
    }
  }

  &__description {
    letter-spacing: 1px;
    line-height: 2;
  }

  &__with {
    padding: 6rem 0;

    &__testimony {
      padding: .5rem;
      background: white;
      font-weight: bold;
      line-height: 1.5;
      font-size: 2rem;
      color: darken($primary, 10%);

      @media (min-width: map_get($breakpoints, 'md')) {
        &:before {
          top: -30%;
          left: 20%;
          width: 100%;
          height: 50%;
          background: url("../../../svg/dots-large.svg") repeat;
          content: '';
          position: absolute;
          z-index: -1;
        }
        &:after {
          bottom: -30%;
          left: -10%;
          width: 100%;
          height: 50%;
          background: url("../../../svg/dots-large.svg") repeat;
          content: '';
          position: absolute;
          z-index: -1;
        }
      }
      @media (min-width: map_get($breakpoints, 'lg')) {
        font-size: 3rem;
      }
    }

    &__companies {
      background: white;
      letter-spacing: 1px;
      line-height: 2;
    }
  }

  &__experience,
  &__academic,
  &__courses,
  &__acknowledgment {
    padding: 4rem 0;
  }
}

.read {
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;

  &__more {
    margin-top: 5px;
    margin-left: 2px;
    width: 1px;
    height: 50px;
    background: lighten(black, 50%);
  }
}

.content {
  margin: 0 3rem 0 3rem;

  .illustration {
    width: 100%;
  }

  .footer {
    padding: 6rem 0;

    &:before {
      top: -20px;
      left: 0;
      width: 100%;
      height: 20px;
      background-size: 100%;
      content: url("../../../svg/bg.svg");
      position: absolute;
    }

    &__email {
      font-weight: 100;
      font-size: 5rem;
    }
  }
}

.academic {
  &__training {
    margin-top: 80px;
    letter-spacing: 1px;
    line-height: 2;
  }
}

.experience {
  &__description {
    letter-spacing: 1px;
    line-height: 2;
  }
}

.curriculum {

  &__title {
    letter-spacing: 5px;
    font-size: 3rem;

    &--right {
      text-align: right;
    }
  }

  &__description {
    letter-spacing: 1px;
    line-height: 2;
    @media (min-width: map_get($breakpoints, 'md')) {
      max-width: 80%;
    }
  }

  &__footer {
    font-family: 'Chilanka', cursive;
    font-size: 2rem;
  }
}
