<nav class="navbar">
    <div class="navbar__left"><h1>Cartê</h1></div>
    <div class="navbar__right">
        <div id="hamburger" class="navbar__right__hamburger"></div>
    </div>
    <div class="navbar__collapse">
        <ul class="menu">
            <li class="menu__item">
                <a href="/" class="menu__item__action">Home</a>
            </li>
            <li class="menu__item">
                <a href="/curriculo" class="menu__item__action">
                    Currículo<span class="menu__item__action__more"> - Quem faz.</span>
                </a>
            </li>
            <li class="menu__item">
                <a href="/servicos" class="menu__item__action">
                    Serviços<span class="menu__item__action__more"> - O que faz.</span>
                </a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__item__action">
                    Vantagens da terceirização<span class="menu__item__action__more"> - Porque a Cartê?</span>
                </a>
            </li>
            <li class="menu__item menu__baseline">
                <div class="row align-items--center justify-content--space-between">
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="row justify-content--space-between">
                            <div class="col-auto">Facebook</div>
                            <div class="col-auto">Instagram</div>
                            <div class="col-auto">Twitter</div>
                            <div class="col-auto">Linkedin</div>
                            <div class="col-auto">Youtube</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-auto col-lg-auto col-xl-auto">
                        email@email.com
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
