<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chilanka|Parisienne&display=swap" rel="stylesheet">
    <% if (process.env.APP_ENV && process.env.APP_ENV === 'production') { %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async defer
                src="https://www.googletagmanager.com/gtag/js?id=<%= process.env.GOOGLE_ANALYTICS %>"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());
            gtag('config', '<%= process.env.GOOGLE_ANALYTICS %>');
        </script>
    <% } %>
</head>
<body>

<div class="box">
    <div class="box__top">
        <div class="box__content">paoksdopak</div>
    </div>
    <div class="box__middle box__middle--larger">
        <div class="box__content">
            <div class="row header-row">
                <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                    <h3 class="header-description">
                        <b>Olá</b>, esse é o seu ponto de partida no mapa de estratégias que vamos construir juntos.
                    </h3>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                    <img class="header-illustration" src="../../assets/svg/carte.svg">
                </div>
            </div>
        </div>
    </div>
    <div class="box__bottom">
        <div class="box__content">
            <%= require('html-loader!../partials/footer.ejs') %>
        </div>
    </div>
</div>
</body>
</html>
